h1 {
    font-size: 28px;
    color: #d05353;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 25px;
    margin-top: 55px;
}
.create-account-link {
    color: #000;
    font-weight: 600;
    /* You can add more styles here if needed */
  }