<ion-header>
</ion-header>

<!-- <ion-content class="ion-padding ion-text-center">
  <div class="container welcome-text">
    
      <h1>Straight out of the oven to your doorstep</h1>
    
  </div>
</ion-content> -->
<ion-content class=" ion-text-center">
<div style="position: absolute;">
  <img src="../../assets/Untitled(2).png"/>
  <div style="position: absolute; top: 4%; left: 20px; width: calc(100% - 100px);">
    <div class="welcome-text">Straight out of the <span style="color: #FF8412; font-weight: 900;">oven</span> to your <span style="color: #FF8412; font-weight: 900;">doorstep</span></div>
  </div>
</div>
</ion-content>

<!-- <ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>  -->

<ion-card class="animated fadeInUp delay-2s">
  <div>
    <h1 class="animated fadeInUp delay-3s">Happy Meals</h1>
    <p class="animated fadeInUp delay-3s">Discover the best foods from <br> over 10,000 restaurants.</p>
  </div>
  <ion-button class="animated bounceIn delay-4s" routerDirection="forward" routerLink="/login" shape="round">
    Get Started
  </ion-button>
</ion-card>
