<ion-header >
  <ion-toolbar class="header-color">
    <div class="profile-container">
      <ion-avatar class="avatar">
        <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="Profile Avatar">
      </ion-avatar>
      <div class="profile-info">
        <div class="name">Ashish Kumar</div>
        <div class="email">ashishkumar@example.com</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <div class="profile-container">
      <!-- Full-width image -->
      <ion-img src="/assets/wallet.jpeg" class="full-width-image"></ion-img>
      
    </div>
    <h1 class="centered-text"> e-Money </h1>
      <p class="centered-p">Seamless one-click checkout for all payments</p>
      <div class="border-container">
    </div>


    <ion-list>
      <ion-item>
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon> <!-- Replace "home" with your desired icon name -->
        <ion-label>
        One-Click Checkout
        <div class="description">
        <p>No need to wait for OTPs- Payment get processed instantly</p>
      </div>
      </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="flash-outline" slot="start"></ion-icon> <!-- Replace "cart" with your desired icon name -->
        <ion-label>
         Safe and Secure
         <div class="description">
          <p>Saty proteced with bank-grade security while making payments</p>
        </div>
        </ion-label>
      </ion-item>
  
    
      <!-- Add more items as needed -->
    </ion-list>
    
  </ion-content>
</ion-content>

